In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
engine = create_engine("mysql+pymysql://root:galihbimawasena@localhost/sakila")

In [10]:
def rentals_month(engine, month, year):
    """
    Retrieve rental data for a given month and year from the Sakila database.
    Returns a Pandas DataFrame.
    """
    query = f"""
        SELECT rental_id, rental_date, customer_id, staff_id, inventory_id
        FROM rental
        WHERE MONTH(rental_date) = {month}
          AND YEAR(rental_date) = {year};
    """
    df = pd.read_sql(query, con=engine)
    return df

In [11]:
df_may = rentals_month(engine, 5, 2005)
df_june = rentals_month(engine, 6, 2005)

print(df_may.head())
print(df_june.head())

   rental_id         rental_date  customer_id  staff_id  inventory_id
0          1 2005-05-24 22:53:30          130         1           367
1          2 2005-05-24 22:54:33          459         1          1525
2          3 2005-05-24 23:03:39          408         1          1711
3          4 2005-05-24 23:04:41          333         2          2452
4          5 2005-05-24 23:05:21          222         1          2079
   rental_id         rental_date  customer_id  staff_id  inventory_id
0       1158 2005-06-14 22:53:33          416         2          1632
1       1159 2005-06-14 22:55:13          516         1          4395
2       1160 2005-06-14 23:00:34          239         2          2795
3       1161 2005-06-14 23:07:08          285         1          1690
4       1162 2005-06-14 23:09:38          310         1           987

In [12]:
def rental_count_month(df, month, year):
    """
    Takes the DataFrame from rentals_month() and returns a summary DataFrame
    with the number of rentals per customer for that month/year.
    Column name example: rentals_05_2005
    """
    # Build column name dynamically (always two-digit month)
    col_name = f"rentals_{month:02d}_{year}"
    
    # Group by customer and count
    rental_counts = (
        df.groupby("customer_id")["rental_id"]
        .count()
        .reset_index()
        .rename(columns={"rental_id": col_name})
    )
    return rental_counts

In [13]:
may_counts = rental_count_month(df_may, 5, 2005)
june_counts = rental_count_month(df_june, 6, 2005)

print(may_counts.head())
print(june_counts.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3
   customer_id  rentals_06_2005
0            1                7
1            2                1
2            3                4
3            4                6
4            5                5

In [14]:
def compare_rentals(df1, df2):
    """
    Takes two monthly rental count DataFrames and merges them on customer_id.
    Adds a 'difference' column = rentals_month2 - rentals_month1.
    Returns the combined DataFrame.
    """
    # Merge the two DataFrames
    merged = pd.merge(df1, df2, on="customer_id", how="inner")
    
    # Identify the rental count column names dynamically
    cols = [c for c in merged.columns if c.startswith("rentals_")]
    if len(cols) != 2:
        raise ValueError("Expected exactly two monthly rental columns")
    
    col1, col2 = cols
    merged["difference"] = merged[col2] - merged[col1]
    return merged

In [15]:
comparison = compare_rentals(may_counts, june_counts)
print(comparison.head())

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7           5
1            2                1                1           0
2            3                2                4           2
3            5                3                5           2
4            6                3                4           1